* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #A0A0A0;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #313131;
    color: #E0E0E0;

    padding: 1em;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

nav a {
    color: #E0E0E0;
}

section {
    padding: 1em;
    background-color: #E0E0E0;

    width: 97%;
    max-width: 800px;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 15px;
    box-shadow: 0 0 2px 0 black;
}

footer p {
    text-align: center;
}